<html>
    <head>
        <title>Happy Birthday</title>
        <style>
            body{
                text-align: center;
                background-image: linear-gradient(to right, green, red);
            }
        </style>
    </head>
    <body>
        {% if bday %}
            <h1>Happy Twelfth Birthday Landon!</h1>
            <h2>Hope Your Birthday is full of lots of Fun, Joy, and Gift!</h2>
            <h3>Have a Merry Christmas and a Happy New Year!</h3>
            <h4>-Melind</h4>
        {% else %}
            <h1>Sorry it's not your Birthday yet</h1>
            <h2>Please come back on your birthday</h2>
        {% endif %}
    </body>
</html>